td, th {
  padding: 10px;
}

#title-style {
  margin-left: 5%;
  padding: 1rem;
  font-family: cursive;
}

#background {
  background-color: #a9a9a9;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
}

#table-container {
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 15px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 500px;
  overflow:hidden;
  background-color: white;
}

tr:nth-child(even) {
  background-color: cornflowerblue;
}

tr:hover {
  background-color: black;
  color: aliceblue;
}

tr td {
  text-align: center;
}

.label-style {
  font-weight: bolder;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.data-style {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tr td img {
  width: 10rem;
}

